---
layout: nil
...
$text-size: 100%;
$heading-scale: 1.2;
$indent-size: 1.5em;
$leading: 1.5em;

$heading-3-size: $text-size;
$heading-2-size: $heading-scale * $heading-3-size;
$heading-1-size: $heading-scale * $heading-2-size;

h1 { font-size: $heading-1-size; }
h2 { font-size: $heading-2-size; }
h3 { font-size: $heading-3-size; }

h1, h2, h3 {
  margin-bottom: $leading;
  text-align: center;
  font-weight: bold;
}

.about, .chapter, .connect, .copyright-information, .preview, .title-page {
  // margin: 1em 0;
}

.chapter, .title-page {
  h1 { text-transform: uppercase; }
}

.chapter h1 { margin-top: 5em; }

.preview  h3 { font-weight: normal; }

.about, .chapter, .preview {
  p {
    // Left-aligned, indented paragraphs with leading
    margin: 0;
    text-align: left;
    line-height: $leading;
    text-indent: $indent-size;
  }
  h1, h2, h3 {
    & + p {
      // Do not indent the first paragraph after a header
      text-indent: 0;
    }
  }
}

.about, .chapter, .preview {
  // Lead-in for the first paragraph after a header
  h1, h2, h3 {
    & + p {
      &:first-letter { font-size: $heading-2-size; }
      &:first-line { font-variant: small-caps; }
    }
  }
}

books a { font-style: italic; }

.books, .connect, .copyright-information, .cover, .title-page {
  text-align: center;
}

.cover {
  // Cover page fills the entire viewport
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  img {
    // Cover image fills the page without paginating
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
