<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>{{ page.title }}</title>
  <meta content='application/xhtml+xml; charset=utf-8' http-equiv='Content-Type' />
  {% assign steps = page.dir | remove_first: '/' |  split: '/' %}
  {% for step in steps %}
    {% assign path_to_root = path_to_root | append: '..' %}
  {% endfor %}
  {% assign path_to_root = path_to_root | remove_last: '/' %}
  <link rel='stylesheet' type='text/css'  href='{{ path_to_root }}/stylesheets/styles.css'/>
</head>
{% if page.style %}
  {% assign style = page.style %}
{% elsif page.guide %}
  {% assign style = page.guide %}
{% endif %}
{% if style %}
  {% capture body_attrs %} class='{{ style }}'{% endcapture %}
{% endif %}
<body{{ body_attrs }}>
{% if page.add_header == null %}
  {% assign add_header = true %}
{% else %}
  {% assign add_header = page.add_header %}
{% endif %}
{% if add_header == true %}<h1>{{ page.title }}</h1>{% endif %}
{{ content }}
</body>
</html>
